@import url('https://fonts.googleapis.com/css?family=Lato') * {
     box-sizing: border-box;
     margin: 0 auto;
     font-family: 'Lato', sans-serif;
}
 .container {
     width: 100%;
     max-width: 1920px;
     margin: 0 auto;
}
 .col-1 {
    width: 8.33%;
}
 .col-2 {
    width: 16.66%;
}
 .col-3 {
    width: 25%;
}
 .col-4 {
    width: 33.33%;
}
 .col-5 {
    width: 41.66%;
}
 .col-6 {
    width: 50%;
}
 .col-7 {
    width: 58.33%;
}
 .col-8 {
    width: 66.66%;
}
 .col-9 {
    width: 75%;
}
 .col-10 {
    width: 83.33%;
}
 .col-11 {
    width: 91.66%;
}
 .col-12 {
    width: 100%;
}
 .col-offset-0 {
    margin-left: 0;
}
 .col-offset-1 {
    margin-left: 8.33%;
}
 .col-offset-2 {
    margin-left: 16.66%;
}
 .col-offset-3 {
    margin-left: 25%;
}
 .col-offset-4 {
    margin-left: 33.33%;
}
 .col-offset-5 {
    margin-left: 41.66%;
}
 .col-offset-6 {
    margin-left: 50%;
}
 .col-offset-7 {
    margin-left: 58.33%;
}
 .col-offset-8 {
    margin-left: 66.66%;
}
 .col-offset-9 {
    margin-left: 75%;
}
 .col-offset-10 {
    margin-left: 83.33%;
}
 .col-offset-11 {
    margin-left: 91.66%;
}
 .row::before, .row::after {
     content: "";
     display: table;
     clear: both;
}
 [class*="col-"] {
     float: left;
     min-height: 1px;
     padding: 0px;
}
 .header {
     background-image: url(https://i.imgur.com/qwjiPFY.jpg);
     width: 100%;
     height: 1072px;
     background-size: cover;
     background-position: center;
     text-align: center;
     position: relative;
}
 .header img {
     position: absolute;
     top: 286px;
}
 .first-text {
     font-family: Lato;
     color: #ffffff;
     font-size: 53.9px;
     font-weight: 700;
     padding-top: 536px;
}
 .second-text {
     font-family: Lato;
     color: #ffffff;
     font-size: 15px;
     font-weight: 400;
}
 .About-Us, .image {
     width: 898px;
     height: 350px;
     box-sizing: border-box;
     position: relative;
     margin: 100px 488px;
   
}
 .border-maker {
     position: absolute;
     top: 0px;
     left: 0px;
     border: solid 3px #000;
     height: 100%;
     width: 100%;
     box-sizing: border-box;
}
 .border-eraser {
     position: absolute;
     top: 0px;
     left: 50%;
     height: 4px;
     width: 40%;
     background: #fff;
     transform: translatex(-50%);
}
 .border-eraser h1 {
     font-family: Lato;
     color: #3c3c3c;
     font-size: 34px;
     font-weight: 700;
     text-align: center;
     margin-top: -20px;
}
 .border-eraser p {
     font-family: Lato;
     color: #3c3c3c;
     font-size: 16px;
     font-weight: 300;
     line-height: 24px;
     text-align: justify;
     padding-top: ;
}
 .Service {
     width: 100%;
     height: 488px;
     background-image: url(https://i.imgur.com/1Tb9Nn9.png);
     padding-top: 1px;
}

.services {background-image: url(https://i.imgur.com/1Tb9Nn9.png);}

 .services p {
     padding-top:90px;
}
 .What-We-Do {
     width: 898px;
     height: 1178px;
     box-sizing: border-box;
     position: relative;
     margin: 100px 488px;
}
 .WWD-text {
     text-align: center;
     padding: 60px;
}
 .WWD-text p {
     font-family: Lato;
     color: #3c3c3c;
     font-size: 14px;
     font-weight: 300;
     line-height: 25.89px;
     text-align: center;
     padding-bottom: 70px;
}
 .WWD-text h4 {
     letter-spacing: 2px;
}
 .gallery {
     position: relative;
     text-align: center;
     max-width:100%;
}
 .gallery-text {
     position:absolute;
     bottom: 40px;
     left: 100px;
     font-family: Lato;
     color: #ffffff;
     font-size: 33.93px;
    */
     font-weight: 700;
     text-align: center;
}
 .gallery img {
     opacity: 0.8;
     text-align: center;
     display: inline-block;
     width: 100%;
}

.remove-padding {
  padding-left: 0;
  padding-right: 0;
}

 .button {
     background-color: #3c3c3c;
     border: none;
     color: white;
     height: 54px;
     width: 360px;
     text-align: center;
     text-decoration: none;
     margin: 30px 0;
     cursor: pointer;
}
 .footer {
     background-image: url(https://i.imgur.com/2m6Ge3c.png) background-color: black;
}
